<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if logged_in? %>
    <span class="navbar-brand">You have <%= get_available_points %> <%= "Point".pluralize(get_available_points) %>. <%= get_current_organization_name %></span>
        <% else %>
    <%= link_to "Gato Falante", root_path, class:"navbar-brand" %>
        <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
            <li class="<%= 'active' if current_page?(posts_index_path) %>"><%= link_to "Posts", posts_index_path %></li>
            <li class="<%= 'active' if current_page?(posts_new_path) %>"><%= link_to "New Post", posts_new_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Organizations <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% if get_current_organization %>
                    <li><%= link_to "Leave Organization", account_switch_to_user_path %></li>
                    <li class="divider"></li>
                <% end %>

                <% @current_user.organizations.each do |org| %>
                  <li><%= link_to org.name, account_switch_to_organization_path(organization_id: org.id) %></li>
                <% end %>
              </ul>
            </li>
            <li>
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>
        <% else %>
            <li class="<%= 'active' if current_page?(login_path) %>"><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>